.HeaderComponent {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    width: 100%;
    .nav-bar {
      margin: 12px;
      text-align: center;
      &_item {
        padding: 24px;
        text-decoration: none;
        color: grey;
      }
    }
  }